html, body {
    font-family: "Helvetic Neue", Helvetica, Arial;
    font-weight: 300;
    color: #f9f9f9;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    text-align: center;
    background-color: #333;
    margin: 0;
}
a, a:active, a:hover {
    color: #c9c9c9;
}

button {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

#title {
    margin: 0;
    padding: 5px;
    background-color: #222;
}
#info {
    float: left;
    width: 300px;
}
#labelContainer {
    width: 100%;
    height: 85px;
    vertical-align: middle;
    margin: auto;
}
#labelContainer span {
    font-size: 13px;
}
#clockFace {
    stroke-width: 0.75px;
    stroke: #111;
}
#hourHand, #minuteHand, #secondHand {
    stroke-width: 0.5px;
    fill: #333;
    stroke: #666;
}
#secondHand {
    stroke: #f55;
}
#clock-container {
    width: 300px;
    margin: auto;
}